.cartItems{
  margin: 100px 170px; 
}
.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartItem-format-main{
   display: grid;
   grid-template-columns:0.5fr 2fr 1fr 1fr 1fr 1fr;
   align-items: center;
   gap: 75px;
   padding: 20px 0px;
   color: #454545;
   font-size: 18px;
   font-weight: 600;
}
.cartItems-format{
  font-size: 17px;
  font-weight: 500;
}
.cartIcon-product-icon{
  height: 62px;
}
.cartItem-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartItems-quatity{
   width: 64px;
   height: 50px;
   border: 2px solid #ebebeb;
   background: #ffff;
}


.cartItems-down{
   display: flex;
   margin: 100px 0px;
}
.cartItems-total{
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  gap: 40px;
}
.cartItems-totalItems{
   display: flex;
   justify-content: space-between;
   padding: 15px 0px;
}
.cartItems-total-text button{
   width: 262px;
   height: 58px;
   outline: none;
   border: none;
   background: #ff5a5a;
   color: white;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   margin-top: 30px;
}
.cartItems-promoCode{
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}
.cartItems-promoCode p{
    color: #555;
}
.cart-promoBox{
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
  display: flex;
}
.cart-promoBox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cart-promoBox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
}

@media screen and (max-width:320px){
  .cartItems {
    margin: 21px 23px;
}
.cartItem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 11px;
  padding: 20px 0px;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
}
.cartItems-quatity {
  width: 21px;
  height: 23px;
}
.cartItem-remove-icon {
  width: 9px;
  margin: 0px 30px;;
}
.cartItems-total {
  gap: 12px;
  width: 100%;
}
.cartItems-total h1{
  font-size: 15px;
}
.cartItems-totalItems p{
  font-size: 13px;
}
.cartItems-totalItems h3{
  font-size: 15px;
}
.cartItems-total-text button {
  width: 263px;
  height: 41px;
  font-size: 14px;
}
.cartItems-down{
  flex-direction: column;
  
}
.cartItems-promoCode{
  margin-top: 28px;

}
.cartItems-promoCode p {
  font-size: 13px;
}
.cart-promoBox {
  width: 252px;
  height: 36px;
}
.cart-promoBox input {
  
  font-size: 13px;
  width: 330px;
  height: 42px;
}
.cart-promoBox button {
  width: 165px;
  height: 36px;
  font-size: 12px;
}
}
@media (min-width:321px) and (max-width:475px){
  .cartItems {
    margin: 21px 23px;
}
.cartItem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 11px;
  padding: 20px 0px;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
}
.cartItems-quatity {
  width: 21px;
  height: 23px;
}
.cartItem-remove-icon {
  width: 9px;
  margin: 0px 30px;;
}
.cartItems-total {
  gap: 12px;
  width: 100%;
}
.cartItems-total h1{
  font-size: 15px;
}
.cartItems-totalItems p{
  font-size: 13px;
}
.cartItems-totalItems h3{
  font-size: 15px;
}
.cartItems-total-text button {
  width: 263px;
  height: 41px;
  font-size: 14px;
}
.cartItems-down{
  flex-direction: column;
  
}
.cartItems-promoCode{
  margin-top: 28px;

}
.cartItems-promoCode p {
  font-size: 13px;
}
.cart-promoBox {
  width: 252px;
  height: 36px;
}
.cart-promoBox input {
  
  font-size: 13px;
  width: 330px;
  height: 42px;
}
.cart-promoBox button {
  width: 165px;
  height: 36px;
  font-size: 12px;
}
}
@media (min-width:500px) and (max-width:768px){
  .cartItems {
    margin: 21px 23px;
}
.cartItem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 11px;
  padding: 20px 0px;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
}
.cartItems-quatity {
  width: 21px;
  height: 23px;
}
.cartItem-remove-icon {
  width: 9px;
  margin: 0px 30px;;
}
.cartItems-total {
  gap: 12px;
  width: 92%;
}
.cartItems-total h1{
  font-size: 15px;
}
.cartItems-totalItems p{
  font-size: 13px;
}
.cartItems-totalItems h3{
  font-size: 15px;
}
.cartItems-total-text button {
  width: 263px;
  height: 41px;
  font-size: 14px;
}
.cartItems-down{
  flex-direction: column;
  
}
.cartItems-promoCode{
  margin-top: 28px;

}
.cartItems-promoCode p {
  font-size: 13px;
}
.cart-promoBox {
  width: 252px;
  height: 36px;
}
.cart-promoBox input {
  
  font-size: 13px;
  width: 330px;
  height: 42px;
}
.cart-promoBox button {
  width: 165px;
  height: 36px;
  font-size: 12px;
}
}


